.capplus-worker {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 10%;
  color: #fff;
  z-index: 2;
  font-family: Montserrat-Variable, sans-serif; }
  .capplus-worker h3 {
    font-size: 100px;
    width: 50%;
    font-weight: 200; }
  .capplus-worker p {
    font-size: 24px;
    font-weight: 300;
    margin: 10px 10px;
    width: 45%; }

.team {
  display: grid;
  grid-template-columns: 49% 1fr;
  gap: 80px;
  margin-top: 100px; }
  .team .team-left {
    text-align: right; }
    .team .team-left .left-top {
      padding-bottom: 60px; }
      .team .team-left .left-top h4 {
        font-size: 40px;
        font-family: Montserrat-Variable, sans-serif;
        font-weight: 300;
        margin: 0;
        padding-bottom: 20px; }
      .team .team-left .left-top p {
        font-size: 18px;
        font-family: Montserrat-Variable, sans-serif;
        font-weight: 300; }
    .team .team-left .left-bot {
      display: flex;
      justify-content: space-between; }
      .team .team-left .left-bot h4 {
        font-size: 30px;
        font-family: Montserrat-Variable, sans-serif;
        font-weight: 600;
        color: #D71920;
        padding-top: 20px; }
      .team .team-left .left-bot span {
        font-size: 18px;
        font-family: Montserrat-Variable, sans-serif;
        font-weight: 300;
        color: #383232; }

.team-suppot {
  background-color: #f3f3f3; }
  .team-suppot .suppot {
    display: flex;
    justify-content: space-between;
    padding: 100px 0px; }
    .team-suppot .suppot h3 {
      font-size: 40px;
      font-family: Montserrat-Variable, sans-serif;
      font-weight: 300; }
    .team-suppot .suppot h4 {
      font-family: Montserrat-Variable, sans-serif;
      font-weight: 700;
      color: #D71920; }
    .team-suppot .suppot ul {
      font-size: 18px;
      list-style: none;
      font-weight: 300;
      color: #383232;
      padding-top: 20px;
      font-family: Montserrat-Variable, sans-serif; }
      .team-suppot .suppot ul li {
        padding: 3px 0px; }

.team-worker {
  margin: 100px 0px; }
  .team-worker h3 {
    text-align: center;
    font-size: 40px;
    font-family: Montserrat-Variable, sans-serif;
    font-weight: 300;
    color: #383232;
    padding-bottom: 50px; }
  .team-worker .slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
    overflow-x: clip; }
    .team-worker .slick-slider .slick-slide {
      margin: 0; }
      .team-worker .slick-slider .slick-slide .bf-testimonial-slick-single {
        width: auto !important; }
        .team-worker .slick-slider .slick-slide .bf-testimonial-slick-single img {
          width: 100%; }

@media only screen and (min-width: 992px) {
  .slick-slide {
    margin: 0 25px; } }
@media only screen and (max-width: 1367px) {
  .bf-testimonial-slick-single {
    padding: 20px; } }
@media only screen and (max-width: 991px) {
  .bf-testimonial-slick-single {
    padding: 20px; } }

/*# sourceMappingURL=nhanluc.css.map */
